---
title: Home
---
<body>
  <div class="wrapper">
    <header>
      
    <p class="view"><img src="circle-cropped.png" width="150" height="150"></p>
    <h3><p class="view"><a href="https://sfmitali.gitlab.io/Curriculum_Vitae_ShemaMitali.pdf">CV</a></p></h3>
    <h3><p class="view"><a href="https://scholar.google.co.uk/citations?user=5_nDRgYAAAAJ&hl=en">Google Scholar</a></p></h3>
    <h3><p class="view"><a href="https://twitter.com/ShemaFMitali">Twitter</a></p></h3>
    </header>
  </div>
  


<section>
<h1>Shema Frédéric Mitali</h1>

<p>Postdoc in Finance, EPFL.</p>

<p>NEXT EVENT: <a href="https://gssf.ch">Virtual Geneva Summit on Sustainable Finance 2020</a> on November 10th, 2020. <a href="http://shorturl.at/aFLS3">Registration</a>; <a href="https://gssf.ch/wp-content/uploads/2020/10/Virtual_GSSF_program.pdf">Program</a>. </p>

<p>Email: shema[dot]mitali[at]unige[dot]ch</p>

<br />
<hr />
<br />
</section>
<h2>Working papers</h2>
<br />
<section>
	<p style="margin:0;" }><p > <a style="margin:0; font-size:100%; font-weight:bold" href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2918926">"The Sustainability Footprint of Institutional Investors: ESG Driven Price Pressure and Performance"</a> <br> (with <a href="https://www.unige.ch/gsem/en/research/faculty/all/rajna-gibson/">R. Gibson Brandon</a> and <a href="https://sites.google.com/site/philippkrueger/">P. Krueger</a>), 2020. <small><details><summary>Abstract</summary><p align="justify"><small>We propose a novel way of measuring the equity portfolio-level environmental and social characteristics of a 13F institution (the “sustainability footprint”) and examine the relation between sustainability footprints and risk-adjusted investment performance. The analysis shows that 13F institutions with better sustainability footprints outperform. The positive effect of sustainability footprints on the risk-adjusted performance of 13F institutions’ equity portfolios is concentrated in the environmental dimension and in more recent periods. Further tests show that the outperformance is explained by growing investor preferences for sustainable investing over time and the resulting price pressure that institutions exert on stocks with good sustainability scores.</small></p></details></small>
	</p>

   <br />
<p style="margin:0;" }><p > <a style="margin:0; font-size:100%; font-weight:bold" href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3116073">“Do Stock-Level Experienced Returns Affect Security Selection?”</a><br>, (with <a href="https://sites.google.com/site/constantinosantoniou23/">C. Antoniou</a>), 2020.
  <small><details><summary>Abstract</summary><p align="justify"><small>We examine whether the managers of equity mutual funds exhibit reinforcement learning, investing more heavily in firms in which they previously experienced higher returns. The results reliably support this hypothesis. Experienced returns affect managers' re-balancing decisions in response to flows, and influence investments at the style level. Experienced returns do not affect the investments of index-tracking funds. When new managers come in a fund, their experiences with stocks in their old funds, influence the investments in these stocks by their new funds. Funds managed by managers who rely more on reinforcement learning, earn lower returns. Experienced returns, when aggregated across managers for each stock, predict lower stock returns. Overall, our evidence indicates that reinforcement learning affects the stock-specific return trades of portfolio managers, with important implications for fund performance and asset prices. </small></p></details></small>
  <br />
  <p style="margin:0;" }><p > <a style="margin:0; font-size:100%; font-weight:bold" href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3448494">"Common Holdings and Mutual Fund Performance"</a><br>, 2019.
<small><details><summary>Abstract</summary><p align="justify"><small>This paper studies the relationship between U.S. mutual funds' common holdings and fund performance. In a network where funds are connected through portfolio overlap, degree centrality of each fund represents the level of similarity with peers. The results show that holdings similarity leads to lower abnormal fund returns. Further tests suggest that information asymmetry is a potential explanation for this relationship. The negative association between holdings similarity and fund performance widens in volatile markets. In uncertain times, mutual funds move towards their benchmark due to asset management constraints. This creates negative price pressure on commonly held assets. A portfolio based on stocks owned by low vs. high degree centrality funds yields abnormal returns of 7% per year. This paper provides new evidence of the informational advantage hypothesis as a driver of fund performance. It also highlights negative externalities of asset management contracts.</small></p></details></small>
</section>
<script src="javascripts/scale.fix.js"></script>
</body>
