@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

:root {
  --primary-color: #2c3e50;     /* Added color variables */
  --secondary-color: #3498db;   /* Introduced modern color palette */
  --text-color: #333;           /* Defined text color */
  --background-color: #f4f6f7;  /* Soft background color */
  --link-color: #3498db;        /* Consistent link color */
}

body {
  padding: 50px;
  font: 16px/1.6 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;  /* Increased font size and line height */
  color: var(--text-color);  /* Used color variable */
  font-weight: 300;
  background-color: var(--background-color);  /* Added background color */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);  /* Used color variable */
  margin: 0 0 20px;
  line-height: 1.2;  /* Slightly increased line height */
  font-weight: 600;  /* Added font weight */
}

h1 {
  font-size: 32px;  /* Slightly larger */
  border-bottom: 2px solid var(--secondary-color);  /* Added bottom border */
  padding-bottom: 10px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}



h2 {
  color:#393939;  /* Could use var(--primary-color) */
}

h3, h4, h5, h6 {
  color:#494949;  /* Could use var(--primary-color) */
}

strong {
  color:#222;  /* Could use var(--primary-color) */
}
a {
  color: var(--link-color);  /* Used color variable */
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease;  /* Added smooth color transition */
}

a:hover {
  color: #1a6aab;  /* Manually defined darker blue */
}

a small {
  font-size: 12px;
  color: #777;
  margin-top: -0.6em;
  display: block;
}

/* New */
details {
  background-color: #f9f9f9;
  border-left: 4px solid var(--secondary-color);
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

details summary {
  cursor: pointer;
  font-weight: 500; /* Slightly lighter */
  font-size: 12px; /* Make text smaller */
  padding: 2px 6px; /* Reduce padding */
  display: inline-block; /* Prevents stretching */
  height: 20px; /* Limit height */
  line-height: 20px; /* Ensures alignment */
  color: var(--primary-color);
  outline: none;
  border-radius: 3px; /* Optional: Make it neater */
  margin: 0; /* Remove extra margin */
}

details summary:hover {
  color: var(--secondary-color);
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

a:focus, 
button:focus, 
summary:focus {
  outline: 2px solid var(--secondary-color);
  outline-offset: 2px;
}

img {
  max-width: 150px;
  border-radius: 50%;  /* Circular image */
  border: 3px solid var(--secondary-color);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);  /* Slight zoom on hover */
}



header {
  width:270px;
  float:left;
  position:fixed;
}

header ul {
  list-style:none;
  height:40px;

  padding:0;

  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);

  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}


code { 
    background: #F1F1F1; 
}

pre {
    white-space: pre-wrap;
    background: #F1F1F1;
}