<!DOCTYPE HTML>
<html lang="en">
  <head>
      <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K3Z6WKT');</script>
<!-- End Google Tag Manager -->

      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123578425-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-123578425-1');
    </script>


    <meta charset="utf-8">
    <title>Shema Frédéric Mitali - <%= @item[:title] %></title>
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- you don't need to keep this, but it's cool for stats! -->
 <!--   <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>"> -->
    
      
  </head>
  <body>
      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3Z6WKT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="wrapper">
    <header>
      
    <p class="view"><img src="circle-cropped.png" width="150" height="150"></p>
    <h3><p class="view"><a href="https://sfmitali.gitlab.io/Mitali_CV.pdf">CV</a></p></h3>
    <h3><p class="view"><a href="https://scholar.google.co.uk/citations?user=5_nDRgYAAAAJ&hl=en">Google Scholar</a></p></h3>
    <h3><p class="view"><a href="https://ideas.repec.org/f/pmi1076.html">RePEc</a></p></h3>
    <h3><p class="view"><a href="https://twitter.com/ShemaFMitali">Twitter</a></p></h3>
    </header>
  


  <section>
    <h1>Shema Frédéric MITALI</h1>

    <p>Assistant Professor of Finance at <a href="https://www.skema.edu/" target="_blank" style="color: #E2001A;">SKEMA Business School</a></p>
    <p>Contact: shema.mitali(at)gmail.com</p>
    <p>Research interests: sustainable finance, investments, behavioral finance</p>


  <br />
  <hr />
  <br />

  <h4>Working papers</h4>

 <br />
	<p style="margin:0;" }><p > <a style="margin:0; font-size:100%; font-weight:bold" href="https://sfmitali.gitlab.io/202211_jmp_paper.pdf">"How Do Mutual Fund Investors React to Text-Based Uncertainty?"</a> <br> 
	</p>
	<p style="margin:0;" }><p > <a style="margin:0; font-size:100%; font-weight:bold" href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2918926">"The Sustainability Footprint of Institutional Investors: ESG Driven Price Pressure and Performance"</a> <br> (with <a href="https://www.unige.ch/gsem/en/research/faculty/all/rajna-gibson/">R. Gibson Brandon</a> and <a href="https://sites.google.com/site/philippkrueger/">P. Krueger</a>) 
	</p>
	<p style="margin:0;">
  <a style="margin:0; font-size:100%; font-weight:bold" href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4082263">
    "Empty ESG Promises: A Text Analysis of Mutual Fund Prospectuses"
  </a> 
  <br> 
  (with <a href="http://www.andrikogiannopoulou.com/">A. Andrikogiannopoulou</a>, 
  <a href="https://sites.google.com/site/philippkrueger/">P. Krueger</a>, 
  and <a href="https://www.filippospapakonstantinou.com/">F. Papakonstantinou</a>) 
  <br> 
  <span style="font-size:85%;">
    <u><i><a style="color:black;" href="https://giwm.ch/research/awards/">GIWM 2021 Award</a></i></u> 
    <br> 
    <u><i><a href="https://www.fca.org.uk/news/news-stories/fca-reveals-gfin-greenwashing-techsprint-winners">Eureka Award</a> 
    at the <a href="https://www.thegfin.com/">Global Financial Innovation Network's</a> 2023 Greenwashing Techsprint</i></u>
  </span>
</p>
	</p>
	<p style="margin:0;" }><p > <a style="margin:0; font-size:100%; font-weight:bold" href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3996238">"Why Do Firms Issue Green Bonds?"</a> <br> (with <a href="https://www.jxdaubanes.com/">J. Daubanes</a> and <a href="https://www.tse-fr.eu/people/jean-charles-rochet">J.-C. Rochet</a>) <br> <u> <i><a style="color:black;font-size:85%;" href="https://ceepr.mit.edu/why-do-firms-issue-green-bonds/">MIT CEEPR Research Brief</a></i></u> 
	</p>
  <p style="margin:0;" }><p > <a style="margin:0; font-size:100%; font-weight:bold" href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3448494">"Common Holdings and Mutual Fund Performance"</a><br>

</p>
<br />
<h4>Publication</h4>
<br />
<p style="margin:0;" }><p > <a style="margin:0; font-size:100%; font-weight:bold" href="https://doi.org/10.1016/j.jbankfin.2023.107034">“Do Stock-Level Experienced Returns Influence Security Selection?”</a><br> (with <a href="https://sites.google.com/site/constantinosantoniou23/">C. Antoniou</a>) <i>Journal of Banking & Finance, 2023</i>

</section>
<script src="javascripts/scale.fix.js"></script>

  </body>
  </div>
</html>
